img {
    width: 100%;
    padding: 5px;
}

.pd-container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.product-image {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". ." ". .";
}

.product-detail {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.commit {
    margin-top: 10px;
}