@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.social-call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.social a {
    margin: 0px 5px;
    color: rgba(0, 0, 0);
    font-size: 0.9rem;
}

.phone {
    margin-left: 30px;
}

.social a:hover {
    color: cyan;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo img {
    height: 80px
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: #555555;
}

.right-menu a {
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0);
}

.menu a:hover,
.right-menu a:hover {
    color: cyan;
}

.sale-label {
    color: whitesmoke;
    display: flex;
    width: 38px;
    height: 17px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}

.fa-shopping-cart {
    position: relative;
}

.num-cart-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: turquoise;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.search-bar {
    width: 100%;
    height: 300px;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.01);
    z-index: 101;
}

.search-input {
    width: 90%;
    border-top: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-cancle {
    color: #27272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-bar {
    display: none;
}

.search-bar-active {
    display: flex;
}

.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}

.login-form,
.sign-up-form,
.forget-form {
    width: 400px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form form,
.sign-up-form form,
.forget-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.sign-up-form strong,
.forget-form strong {
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5;
}

.login-form input,
.sign-up-form input,
.forget-form input {
    width: 90%;
    height: 45px;
    margin: 6px;
    outline: none;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.green {
    background-color: seagreen;
    color: seashell;
}

.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a {
    color: black;
    font-size: 0.9rem;
}

.form-cancle {
    position: absolute;
    right: 20px;
    top: 10px;
}

.login-form,
.sign-up-form,
.forget-form,
.form {
    display: none;
}

.sign-up-active {
    display: flex;
    animation: fade 0.3s;
}

.forget-active {
    display: flex;
    animation: fade 0.3s;
}

.user-active,
.user-active .login-form,
.sign-up-active .sign-up-form,
.forget-active .forget-form {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* css for slider */

.full-slider-box {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.f-slide-1 {
    background-image: url(../images/slides/slider_3.png);
}

.slider-text-container {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong {
    color: #333333;
    font-size: 2rem;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.f-slider-text span {
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.f-slider-text .f-slider-btn {
    width: 150px;
    background-color: seagreen;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: oldlace;
    text-transform: uppercase;
}